.container {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 2rem;
  & p {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.5rem;

  & .line {
    width: 100%;
    margin: 0.3rem 0;
    height: 0.3rem;
    background-color: black;
  }
}
@media (max-width: 1200px) {
  .container {
    font-size: 1rem;
  }
}
