@import "../../styles/colors";

.container {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: black;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  & .product_img_container {
    background-color: $bg;
    padding: 2rem;
  }
}
